body {
    background-color: rgb(231, 231, 231);
    margin: 0; /* Убираем отступы страницы */
    padding: 0;
}

header {
    position: fixed; /* Фиксируем шапку при прокрутке */
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.525);
    background-color: white;
    display: flex; /* Используем flex для гибкой раскладки */
    align-items: center; /* Центрируем элементы по вертикали */
    justify-content: space-between; /* Пространство между логотипом и меню */
    padding: 0 20px; /* Внутренние отступы */
    z-index: 1000; /* Поверх других элементов */
}

.logo-warper {
    display: inline-block;
    vertical-align: middle;
}

.menu-warper {
    display: flex; /* Используем flex для меню */
    justify-content: space-around; /* Распределяем ссылки */
    align-items: center;
    gap: 10px; /* Расстояние между кнопками */
    width: 400px;
    height: 100%;
    margin-right: 20px;
}

.link-menu {
    display: inline-block;
    padding: 10px 5px; /* Уменьшаем размер кнопок */
    margin: 0 5px; /* Отступы между кнопками */
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: auto; /* Убираем фиксированную ширину */
    white-space: nowrap; /* Предотвращаем перенос текста */
    width: 100px;
    text-align: center;
}

.link-menu:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
    cursor: pointer;
}

.link-menu:active {
    background-color: #004494;
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 60px;
}
.burger-menu{
    display: none;
}

/* Медиазапросы для адаптации */
@media (max-width: 1050px) {
   
    .menu-warper {
        flex-wrap: wrap; /* Перенос ссылок на следующую строку */
        justify-content: center; /* Центрируем меню */
        gap: 5px;
    }
}



@media (max-width: 480px) {
    header {
        padding: 15px; /* Минимальные отступы */
    }
    .menu-warper {
        display: none;
    }
    .link-menu {
        width: 100%; /* Ссылки растягиваются на ширину */
        text-align: center; /* Центрируем текст */
        padding: 10px; /* Увеличиваем отступы для кликабельности */
    }
   
}
